// SPDX-License-Identifier: GPL-2.0
/* Shared P3448/P3449 A02 VC MIPI profile overlay. */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	overlay-name = VC_OVERLAY_NAME;
	jetson-header-name = "Jetson Nano CSI Connector";
	compatible = "nvidia,p3449-0000-a02+p3448-0000-a02";
	vc-mipi-profile = "custom";
	vc-mipi-parent = "Camera VC MIPI (Custom)";
	vc-mipi-model = VC_PROFILE_MODEL;

	fragment@0 {
		target = <&i2c7>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			vc_mipi_cam0: vc_mipi@1a {
				compatible = "nvidia,vc_mipi";
				reg = <0x1a>;
				vc,controller-address = <0x10>;
				vc,sensor-address = <0x1a>;
#ifdef VC_FORCE_MOD_ID
				vc,force-mod-id = <VC_FORCE_MOD_ID>;
#endif
				status = "okay";
				devnode = "video0";
				use_sensor_mode_id = "false";
				sensor_model = "vc_mipi";
				num_lanes = VC_NUM_LANES_STRING;
				trigger_mode = "0";
				io_mode = "0";
				physical_w = VC_PHYSICAL_W;
				physical_h = VC_PHYSICAL_H;
				reset-gpios = <&gpio TEGRA_GPIO(S, 7) GPIO_ACTIVE_HIGH>;

				mode0 {
					num_lanes = VC_NUM_LANES_STRING;
					tegra_sinterface = "serial_a";
					embedded_metadata_height = "0";
					readout_orientation = "0";
					active_l = "0";
					active_t = "0";
					active_w = VC_ACTIVE_W;
					active_h = VC_ACTIVE_H;
					mode_type = "bayer";
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					pixel_t = "bayer_rggb";
					min_gain_val = "0";
					max_gain_val = VC_MAX_GAIN;
					step_gain_val = VC_STEP_GAIN;
					default_gain = "0";
					min_exp_time = "1";
					max_exp_time = "1000000";
					step_exp_time = "1";
					default_exp_time = "10000";
					min_framerate = "1000";
					max_framerate = VC_MAX_FRAMERATE;
					step_framerate = "100";
					default_framerate = VC_MAX_FRAMERATE;
					gain_factor = "1000";
					exposure_factor = "1000000";
					framerate_factor = "1000";
					inherent_gain = "1";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					line_length = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					mclk_khz = "24000";
					pix_clk_hz = "800000000";
					mclk_multiplier = "9.33";
					cil_settletime = "0";
					dpcm_enable = "false";
				};

				ports {
					port {
						vc_mipi_out0: endpoint {
							port-index = <0>;
							bus-width = <VC_NUM_LANES>;
							remote-endpoint = <&rbpcv2_imx219_csi_in0>;
						};
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&imx219_single_cam0>;
		__overlay__ { status = "disabled"; };
	};

	fragment@2 {
		target = <&imx477_single_cam0>;
		__overlay__ { status = "disabled"; };
	};

	fragment@3 {
		target = <&vi_base>;
		__overlay__ { num-channels = <1>; };
	};

	fragment@4 {
		target = <&vi_port0>;
		__overlay__ { status = "okay"; };
	};

	fragment@5 {
		target = <&rbpcv2_imx219_vi_in0>;
		__overlay__ {
			status = "okay";
			port-index = <0>;
			bus-width = <VC_NUM_LANES>;
			remote-endpoint = <&rbpcv2_imx219_csi_out0>;
		};
	};

	fragment@6 {
		target = <&csi_base>;
		__overlay__ { num-channels = <1>; };
	};

	fragment@7 {
		target = <&csi_chan0>;
		__overlay__ { status = "okay"; };
	};

	fragment@8 {
		target = <&csi_chan0_port0>;
		__overlay__ { status = "okay"; };
	};

	fragment@9 {
		target = <&rbpcv2_imx219_csi_in0>;
		__overlay__ {
			status = "okay";
			port-index = <0>;
			bus-width = <VC_NUM_LANES>;
			remote-endpoint = <&vc_mipi_out0>;
		};
	};

	fragment@10 {
		target = <&csi_chan0_port1>;
		__overlay__ { status = "okay"; };
	};

	fragment@11 {
		target = <&rbpcv2_imx219_csi_out0>;
		__overlay__ {
			status = "okay";
			remote-endpoint = <&rbpcv2_imx219_vi_in0>;
		};
	};

	fragment@12 {
		target = <&cam_module0>;
		__overlay__ {
			status = "okay";
			badge = VC_CAMERA_BADGE;
			position = "front";
			orientation = "1";
		};
	};

	fragment@13 {
		target = <&cam_module0_drivernode0>;
		__overlay__ {
			status = "okay";
			pcl_id = "v4l2_sensor";
			devname = "vc_mipi 6-001a";
			proc-device-tree = "/proc/device-tree/host1x/i2c@546c0000/vc_mipi@1a";
		};
	};

	fragment@14 {
		target = <&cam_module0_drivernode1>;
		__overlay__ { status = "disabled"; };
	};

	fragment@15 {
		target = <&tcp>;
		__overlay__ {
			num_csi_lanes = <VC_NUM_LANES>;
			max_lane_speed = <1500000>;
			min_bits_per_pixel = <10>;
			vi_peak_byte_per_pixel = <2>;
			vi_bw_margin_pct = <25>;
			max_pixel_rate = <240000>;
			isp_peak_byte_per_pixel = <5>;
			isp_bw_margin_pct = <25>;
		};
	};
};
